.wrapper {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.form {
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    width: 300px;
    border: 1px solid rgb(42, 45, 230);
    border-radius: 3px;
}

label {
    font-size: 30px;
    font-weight: 700;
}

input {
    width: 256px;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 3px;
}

button {
    font-weight: 600;
    padding: 7px 100px;
    border-radius: 3px;
}

.todo {
    padding: 30px 0 20px 0;
    text-align: center;
}

.todo-list {
    border: 1px solid rgb(116, 116, 116);
    padding: 5px;
    margin: 0 auto;
    width: 360px;
    min-height: 60px;
    border-radius: 3px;
    border: 1px solid rgb(12, 35, 240);
}

.todo-item {
    background: rgb(109, 238, 4);
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    justify-items: auto;
    margin-bottom: 10px;
   
}